body{
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: #EAF7DA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mudra-heading{
    font-weight: 600;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#main-interface{
    margin-top: 30px;
}
#btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 2px;
    margin: 5px 5px;
    
}

#btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 2px;
    margin: 5px 5px;
}

#audio-to-isl{
    padding: 15px;
    font: bold;
    background-color: #6DB193;
    cursor: pointer;
    border-radius: 5px;
}
    
#isl-to-audio{
    padding: 15px;
    font: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2C5530;
    border-radius: 5px;
    color: whitesmoke;
}
/* #isl-to-audio:hover{
    
} */